<% title t('page_titles.index.dashboard') %>

<% content_for :sidebar do %>
  <li class="nav-header"><%= t(".menu") %></li>
  <li><%= auth_link([current_user, Loan]) %></li>
<% end %>

<h2><%= t('page_titles.index.loan') %></h2>

<% if loans.empty? %>
<p><%= t('notifications.loan.no_loans') %></p>
<% else %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Kit</th>
      <th>Asset Tags</th>
      <th>Kit Components</th>
      <th>Pick Up Date</th>
      <th>Return Date</th>
      <th>Out Date</th>
      <th>In Date</th>
      <th>State</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% loans.each do |loan| %>
      <tr>
        <td><%= loan.kit %></td>
        <td class="ellipsize"><%= loan.kit.tabular_asset_tags %></td>
        <td class="ellipsize"><%= loan.kit.tabular_component_list %></td>
        <td style="white-space: nowrap;"><%= loan.starts_at %></td>
        <td style="white-space: nowrap;"><%= loan.ends_at %></td>
        <td style="white-space: nowrap;"><%= loan.out_at %></td>
        <td style="white-space: nowrap;"><%= loan.in_at %></td>
        <td><%= loan.state %></td>
        <td>
          <div class="btn-group">
            <button class="btn dropdown-toggle" data-toggle="dropdown">
              <i class="icon-cog"></i>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><%= show_link(loan) %></li>
              <% if loan.approved? %>
              <li><%= checkout_link(loan) %></li>
              <% end %>
              <li><%= edit_link(loan) %></li>
            </ul>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
