<% title t('page_titles.index.dashboard') %>

<% content_for :sidebar do %>
  <li class="nav-header"><%= t(".menu") %></li>
  <li><%= link_to "#{ t('helpers.icons.settings') } Application Settings".html_safe, settings_path if current_user.admin? %></li>
  <li><%= auth_link([:new, User]) %></li>
<% end %>

<!-- <dl class="dl-horizontal"> -->
<!--   <dt>Orphaned Components</dt> -->
<!--   <dd><%= @orphaned_components.to_s %></dd> -->
<!--   <dt>Empty Kits</dt> -->
<!--   <dd><%= @empty_kits.to_s %></dd> -->
<!-- </dl> -->

<h2>Incoming Loans</h2>
<%= render partial: 'loans/loans_table', object: incoming_loans %>

<h2>Outgoing Loans</h2>
<%= render partial: 'loans/loans_table', object: outgoing_loans %>
