<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('labels.component.brand') %></th>
      <th><%= t('labels.component.component_model') %></th>
      <th><%= t('labels.component.asset_tag') %></th>
      <th><%= t('labels.component.serial_number') %></th>
      <th><%= t('labels.component.disposition') %></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'components/component', collection: component_list %>
  </tbody>
</table>
