<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('component.attributes.brand') %></th>
      <th><%= t('component.attributes.component_model') %></th>
      <th><%= t('component.attributes.asset_tag') %></th>
      <th><%= t('component.attributes.serial_number') %></th>
      <th><%= t('component.attributes.disposition') %></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'components/component', collection: component_list %>
  </tbody>
</table>
