<h1>Components</h1>

<%= link_to 'New', new_component_path, :class => 'btn btn-primary' %>

<%= paginate @components %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Asset Tag</th>
      <th>Brand</th>
      <th>Model</th>
      <th>Serial number</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @components.each do |component| %>
      <tr>
        <td><%= component.asset_tags.collect{ |at| at.uid }.join(", ")  %></td>
        <td><%= component.model.brand %></td>
        <td><%= component.model %></td>
        <td><%= component.serial_number %></td>
        <td>
          <%= link_to 'Edit', edit_component_path(component), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', component_path(component), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @components %>
