<h1>Component</h1>

<p>
  <b>Brand</b><br>
  <%= @component.model.brand %>
</p>

<p>
  <b>Model</b><br>
  <%= @component.model %>
</p>

<p>
  <b>Serial number</b><br>
  <%= @component.serial_number %>
</p>

<p>
  <b>Cost</b><br>
  <%= @component.cost %>
</p>

<p>
  <b>Insured</b><br>
  <%= @component.insured %>
</p>

<p>
  <b>Missing</b><br>
  <%= @component.missing %>
</p>

<p>
  <b>Budget</b><br>
  <%= @component.budget %>
</p>

<p>
  <b>Kit</b><br>
  <%= @component.kit_id %>
</p>

<div class="form-actions">
  <%= link_to 'Back', components_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_component_path(@component), :class => 'btn' %>
  <%= link_to 'Delete', component_path(@component), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
