<div class="page-header">
  <h1><%= controller.action_name.capitalize %> Model</h1>
</div>

<div class="row-fluid">
  <div class="span6" style="min-width:375px">
    <%= simple_form_for @model, :html => { :class => 'form-horizontal' } do |f| %>
      <%= f.input :brand, :input_html => {
            :class => 'select2-json-autocomplete',
            :hidden => true,
            "data-ajax-url" => brands_path(:format => :json),
            "data-text" => f.object.try(:brand).try(:name)
          } %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :training_required %>
      <div class="form-actions">
        <%= f.submit nil, :class => 'btn btn-primary' %>
        <%= link_to 'Cancel', models_path, :class => 'btn' %>
      </div>
    <% end %>
  </div>
  <div class="span6">
    <strong>Good names</strong> should include specs, revisions, and model
    numbers. Examples of <em>bad</em> names:
      <ul>
        <li>Mac Mini</li>
        <li>iPad</li>
        <li>Tripod</li>
        <li>VistaBeam</li>
      </ul>
      Examples of <em>good</em> names:
      <ul>
        <li>Mac Mini, 2.3GHz dual-core i5, 2GB RAM, 500GB HD</li>
        <li>iPad 2 16GB</li>
        <li>294 Aluminum 3-Section Tripod W/QR Ballhead</li>
        <li>VistaBeam 600 DMX One Light Kit</li>
      </ul>      
      If in doubt, cut and paste the name from an ecommerce site.
  </div>
</div>
