<h1>Models</h1>
<table class="table table-striped">
  <tbody>
    <% @models.each do |model| %>
      <tr>
        <td><%= link_to model.brand.name, models_path(:brand => model.brand) %></td>
        <td><%= model.name %></td>
        <td><%= model.description %></td>
        <td>
          <%= link_to 'Edit', edit_model_path(model), :class => 'btn btn-mini' %>
          <%= link_to 'Delete', model_path(model), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_model_path, :class => 'btn btn-primary' %>
