<h1>Models</h1>

<%= paginate @models %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Brand</th>
      <th>Model</th>
      <th>Description</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <% @models.each do |model| %>
      <tr>
        <td><%= link_to model.brand.name, brand_models_path(model.brand) %></td>
        <td><%= model.name %></td>
        <td><%= model.description %></td>
        <td><%= model.parts.count %></td>
        <td>
          <%#= link_to 'Reserve', new_reservation_path(:model_id => model), :class => 'btn btn-mini' if model.checkoutable? %>
          <%= link_to 'Reserve', '#', :class => 'btn btn-mini' if model.checkoutable? %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @models %>
