<h1><%= @model.brand %> <%= @model %></h1>

<p>
  <b>Description</b><br>
  <%= @model.description %>
</p>

<p>
  <b>Training required</b><br>
  <%= @model.training_required %>
</p>

<h2>Kits</h2>
  <% if @model.kit_asset_tags.empty? %>
    No asset tags for this model
  <% else %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Asset Tag</th>
          <th>Components</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @model.kit_asset_tags.each do |asset_tag, kit| %>
          <tr>
            <td><%= link_to(asset_tag, kit_path(kit)) %></td>
            <td><%= kit.components_description %></td>
            <td>
              <% if kit.checkoutable? %>
              <%= link_to 'Reserve', new_reservation_path(:kit_id => kit, :user_id => current_user), :class => 'btn btn-mini' %>
              <%= link_to 'Reservations', kit_reservations_path(kit), :class => 'btn btn-mini' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

<div class="form-actions">
  <%= link_to 'Back', models_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_model_path(@model), :class => 'btn' %>
  <%= link_to 'Delete', model_path(@model), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
