<h1><%= @model.brand %> <%= @model %></h1>

<dl class="dl-horizontal">
  <dt>Description</dt>
  <dd><%= something(@model.description) %></dd>
  <dt>Training required</dt>
  <dd><%= something(@model.training_required) %></dd>
  <dt>Categories</dt>
  <dd><%= category_links(@model.categories) %></dd>
</dl>

<div class="form-actions">
  <%= link_to 'Back', models_path, :class => 'btn'  %>
  <%= link_to 'Reserve', new_model_reservation_path(@model), :class => 'btn btn-primary' %>
  <%= link_to 'Edit', edit_model_path(@model), :class => 'btn' %>
  <%= link_to 'Delete', model_path(@model), :method => 'delete', :confirm => 'Are you sure? This will also delete all the kits associated with this model!', :class => 'btn btn-danger' %>
</div>

<h2>Kits</h2>
<% if @model.kit_asset_tags.empty? %>
  No asset tags for this model
<% else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Asset Tag</th>
        <th>Components</th>
        <th>Location</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @model.kit_asset_tags.each do |asset_tag, kit| %>
        <tr>
          <td><%= link_to(asset_tag, kit_path(kit)) %></td>
          <td><%= kit.branded_components_description %></td>
          <td><%= kit.location %></td>
          <td>
            <% if kit.checkoutable? %>
            <%= link_to 'Reserve', new_kit_reservation_path(kit, :user_id => current_user), :class => 'btn btn-mini' %>
            <%= link_to 'Reservations', kit_reservations_path(kit), :class => 'btn btn-mini' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
