<%= simple_form_for @part, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Part</legend>

    <%= f.simple_fields_for :model do |builder| %>
      <%= builder.association :brand, :include_blank => true %>
    <% end %>

    <%= f.input :model_id, :collection => Brand.all, :as => :grouped_select, :group_method => :models %>
    <%= f.input :serial_number %>
    <%= f.input :cost %>
    <%= f.association :budget,  :collection => Budget.options_map, :prompt => "Choose a budget" %>
    <%= f.input :insured %>
    <%= f.input :missing %>
    <%= f.input :kit_id, :disabled => !@part.new_record? %>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', parts_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
