<%= simple_form_for @budget.source, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :number %>
  <%= f.input :name %>
  <%= f.input :starts_at, :include_blank => true %>
  <%= f.input :ends_at, :include_blank => true %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to 'Cancel', budgets_path, :class => 'btn' %>
  </div>
<% end %>
