<%= title t('budget.index.title') %>

<% content_for :sidebar do %>
  <li class="nav-header"><%= t(".actions") %></li>
  <%= sidebar_link(t('helpers.links.new'),
                   new_budget_path,
                   t('budget.sidebar.add.default_tooltip'),
                   can?(:manage, Budget),
                   t('budget.sidebar.add.denied_tooltip'),
                   :class=>'btn-new') %>
<% end %>

<%= paginate @budgets %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Number</th>
      <th>Name</th>
      <th>Dates</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @budgets.each do |budget| %>
    <tr>
      <td><%= link_to budget.number, budget_path(budget) %></td>
      <td><%= budget.name %></td>
      <td><%= budget.display_date %></td>
      <td>
        <%= link_to 'Show Kits', budget_kits_path(budget), :class => 'btn btn-mini' %>
        <%= link_to 'Edit', edit_budget_path(budget), :class => 'btn btn-mini btn-edit-budget' if can? :manage, Budget %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @budgets %>
