<%= title t('page_titles.index.budgets') %>

<% content_for :sidebar do %>
  <li class="nav-header"><%= t(".actions") %></li>
  <li><%= auth_link([:new, Budget]) %></li>
<% end %>

<%= paginate @budgets %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('budget.attributes.number') %></th>
      <th><%= t('budget.attributes.name') %></th>
      <th><%= t('budget.attributes.dates') %></th>
      <th><%= t('helpers.headers.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% budgets.each do |budget| %>
    <tr>
      <td><%= budget.to_link %></td>
      <td><%= budget.name %></td>
      <td><%= budget.display_date %></td>
      <td class="actions">
        <%= auth_link([budget, Component]) %>
        <%= auth_link(budget) %>
        <%= auth_link([:edit, budget]) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @budgets %>
