<% title t('page_titles.show.budget') %>
<% subtitle budget %>

<dl class="dl-horizontal">
  <dt><%= t('labels.budget.number') %></dt>
  <dd><%= budget.number %></dd>
  <dt><%= t('labels.budget.name') %></dt>
  <dd><%= budget.name %></dd>
  <dt><%= t('labels.budget.starts_at') %></dt>
  <dd><%= budget.starts_at %></dd>
  <dt><%= t('labels.budget.ends_at') %></dt>
  <dd><%= budget.ends_at %></dd>
</dl>

<div class="form-actions">
  <%= auth_link(Budget, {}, { text: t('helpers.actions.back') }) %>
  <%= auth_link([:edit, @budget]) %>
  <%= auth_link([@budget, Component]) %>
</div>
