<h1>Budget</h1>

<dl class="dl-horizontal">
  <dt>Number</dt>
  <dd><%= @budget.number %></dd>
  <dt>Name</dt>
  <dd><%= @budget.name %></dd>
  <dt>Date start</dt>
  <dd><%= @budget.starts_at %></dd>
  <dt>Date end</dt>
  <dd><%= @budget.ends_at %></dd>
</dl>

<div class="form-actions">
  <%= link_to 'Back', budgets_path, :class => 'btn' %>
  <%= link_to 'Edit', edit_budget_path(@budget), :class => 'btn btn-edit-budget' if can? :manage, Budget %>
  <%= link_to 'Show Kits', budget_kits_path(@budget), :class => 'btn' %></p>
</div>
