<% component = ComponentDecorator.decorate(f.object) unless f.object.new_record? %>
<tr class="fields">
  <td>
      <%= f.input :component_model, :as => :ajax_association, :wrapper => :tabular, :path => component_models_path(:format => :json) %>
  </td>
  <td>
    <%= f.input :asset_tag,
                :label => false,
                :wrapper => :tabular %>
  </td>
  <td>
    <%= f.input :serial_number,
                :label => false,
                :wrapper => :tabular %>
  </td>
  <td>
    <% unless f.object.new_record? %>
      <%= component.disposition %>
    <% end %>
  </td>
  <td><%= f.link_to_remove t('helpers.actions.delete'), :class => "delete-link" %></td>
</tr>
