<div class="well components">
  <%= content_tag :div, f.error(:base), :class=>"alert alert-error" if f.error(:base) %>
  <%= f.input :model_id, :label => "Model", :required => true, :input_html => {
        :class => 'select2-json-autocomplete',
        :hidden => true,
        "data-ajax-url" => models_path(:format => :json),
        "data-text" => f.object.model.try(:branded_name)
      } %>
  <%= f.input :asset_tag %>
  <%= f.input :serial_number %>
  <%= f.input :missing %>
  <%= f.link_to_remove "Remove this component", :class => 'btn btn-danger pull-right' %>
  <br style="clear:both">
</div>
