<% component = ComponentDecorator.decorate(f.object) unless f.object.new_record? %>
<tr class="fields">
  <td>
    <% if f.object.new_record? %>
      <%= f.input :component_model_id,
                  :label => false,
                  :wrapper => :tabular,
                  :input_html => {
                      :class => 'select2-json-autocomplete select-model',
                      :hidden => true,
                      "data-ajax-url" => component_models_path(:format => :json)
          } %>
    <% else %>
      <%= component.component_model.name %>
      <%= f.input :component_model_id, :as => :hidden, :wrapper => :tabular %>
    <% end %>
  </td>
  <td>
    <%= f.input :asset_tag,
                :label => false,
                :wrapper => :tabular %>
  </td>
  <td>
    <%= f.input :serial_number,
                :label => false,
                :wrapper => :tabular %>
  </td>
  <td>
    <% unless f.object.new_record? %>
      <%= component.disposition %>
    <% end %>
  </td>
  <td><%= f.link_to_remove t('helpers.actions.delete'), :class => "delete-link" %></td>
</tr>
