<tr id="component_<%= component.id %>">
  <td><%= component.component_model.brand.to_link %></td>
  <td><%= component.component_model.to_link %></td>
  <td><%= component.asset_tag %></td>
  <td><%= component.serial_number %></td>
  <td><%= component.current_status %></td>
</tr>
