<%= simple_nested_form_for @kit.model, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.association :location, :prompt => 'Select location', :input_html => { :class  => 'location-select' } %>
  <div class="controls control-action">
    <!-- displays the location/new_modal partial -->
    <a data-toggle="modal" href="#location_modal">New Location</a>
  </div>
  <%= f.input :checkoutable, :as => :radio_buttons %>
  <%= f.association :budget, :collection => BudgetDecorator.decorate(Budget.active), :label_method => :to_s, :prompt => 'Select budget' %>  
  <div class="controls control-action">
    <!-- displays the budget/new_modal partial -->
    <a data-toggle="modal" href="#budget_modal">New Budget</a>
  </div>
  <%= f.input :insured, :as => :radio_buttons %>
  <%= f.input :tombstoned, :as => :radio_buttons %>

  <h2>Components</h2>
  <div class="records row-fluid">
    <div class="fields field-headers row-fluid">
      <div class="field field-header span3">Model</div>
      <div class="field field-header span3">Asset Tag</div>
      <div class="field field-header span3">Serial Number</div>
      <div class="field field-header span1">Missing</div>
      <div class="field field-header span2">Actions</div>
    </div><!-- // -->
    <%= f.simple_fields_for :components %>
    <%= f.link_to_add raw("<i class='icon-plus-sign'></i> Add another component"), :components %>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to 'Cancel', kits_path, :class => 'btn' %>
  </div>
<% end %>

<%= render :partial => 'locations/new_modal' %>
<%= render :partial => 'budgets/new_modal' %>
