<%= simple_nested_form_for @kit, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.association :location, :prompt => 'Select location', :input_html => { :class  => 'location-select' } %>
  <div class="controls control-action">
    <!-- displays the location/new_modal partial -->
    <a data-toggle="modal" href="#location_modal">New Location</a>
  </div>
  <%= f.input :workflow_state, collection: @circulation_types, :include_blank => false  %>
  <%= f.input :custodian, input_html: { class: "users typeahead", :hidden => true } %>

  <h2>Components</h2>
  <table class="form-table">
    <thead>
      <tr>
        <th><%= t('labels.component.component_model') %></th>
        <th><%= t('labels.component.asset_tag') %></th>
        <th><%= t('labels.component.serial_number') %></th>
        <th><%= t('labels.component.budget') %></th>
        <th><%= t('.actions') %></th>
      </tr>
    </thead>
    <tbody id="components_fields">
      <%= f.fields_for :components, wrapper: false %>
    </tbody>
  </table>
  <p><%= f.link_to_add t('links.kit.add_component').html_safe, :components, data: { target: "#components_fields" } %></p>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to 'Cancel', kits_path, :class => 'btn' %>
  </div>
<% end %>

<%= render :partial => 'locations/new_modal' %>
