<%= simple_nested_form_for @kit, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.association :location, :prompt => 'Select location', :input_html => { :class  => 'location-select' } %>
  <div class="controls control-action">
    <!-- displays the location/new_modal partial -->
    <a data-toggle="modal" href="#location_modal">New Location</a>
  </div>
  <%= f.input :circulating, :as => :radio_buttons %>
  <%= f.association :budget, :collection => budgets, :label_method => :to_s, :prompt => 'Select budget' %>
  <div class="controls control-action">
    <!-- displays the budget/new_modal partial -->
    <a data-toggle="modal" href="#budget_modal">New Budget</a>
  </div>
  <%= f.input :insured, :as => :radio_buttons %>
  <%= f.input :tombstoned, :as => :radio_buttons %>

  <h2>Components</h2>
  <table class="form-table">
    <thead>
      <tr>
        <th>Model</th>
        <th>Asset Tag</th>
        <th>Serial Number</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody id="components_fields">
      <%= f.fields_for :components, wrapper: false %>
    </tbody>
  </table>
  <p><%= f.link_to_add t('kit.edit.add_component').html_safe, :components, data: { target: "#components_fields" } %></p>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to 'Cancel', kits_path, :class => 'btn' %>
  </div>
<% end %>

<%= render :partial => 'locations/new_modal' %>
<%= render :partial => 'budgets/new_modal' %>
