<% title t('kit.index.title') %>

<% content_for :sidebar do %>
  <li class="nav-header"><%= t(".actions") %></li>
  <%= sidebar_link(:new, Kit.new) %>
  <li class="nav-header"><%= t("kit.sidebar.filters") %></li>
  <%= sidebar_link(:index, nil, { path: kits_path                    }, { text: t("kit.sidebar.all.text").html_safe                }) %>
  <%= sidebar_link(:index, nil, { path: circulating_kits_path        }, { text: t("kit.sidebar.circulating.text").html_safe        }) %>
  <%= sidebar_link(:index, nil, { path: non_circulating_kits_path    }, { text: t("kit.sidebar.non_circulating.text").html_safe    }) %>
  <%= sidebar_link(:index, nil, { path: missing_components_kits_path }, { text: t("kit.sidebar.missing_components.text").html_safe }) %>
  <%= sidebar_link(:index, nil, { path: tombstoned_kits_path         }, { text: t("kit.sidebar.tombstoned.text").html_safe         }) %>
<% end %>

<%= paginate @kits %>

<table class="table">
  <thead>
    <tr>
      <th><%= t('kit.id') %></th>
      <th><%= t('kit.asset_tags') %></th>
      <th><%= t('kit.location') %></th>
      <th><%= t('component_model.index.title') %></th>
      <th><%= t('group.index.title') %></th>
      <th class="actions"><%= t('helpers.headers.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% kits.each do |kit| %>
      <tr>
        <td><%= kit.to_link %></td>
        <td><%= kit.asset_tags %></td>
        <td><%= kit.location %></td>
        <td><%= kit.linked_component_list %></td>
        <td><%= kit.linked_groups_list %></td>
        <td class="mini-action-buttons">
          <%= mini_button(:reserve, kit) %>
          <%= mini_button(:check_out, kit) %>
          <%= mini_button(:show, kit) %>
          <%= mini_button(:edit, kit) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @kits %>
