<% title t('kit.index.title') %>

<% content_for :sidebar do %>
  <li class="nav-header"><%= t(".actions") %></li>
  <%= sidebar_link(t("helpers.links.new"),
                   new_kit_path,
                   t("kit.sidebar.add.default_tooltip"),
                   can?(:manage, Kit),
                   t("kit.sidebar.add.denied_tooltip"),
                   :class=>'btn-new') %>
  <li class="nav-header"><%= t("kit.sidebar.filters") %></li>
  <%= sidebar_link t("kit.sidebar.all.text"), kits_path, t("kit.sidebar.all.default_tooltip") %>
  <%= sidebar_link(t("kit.sidebar.checkoutable.text"),
                   checkoutable_kits_path,
                   t("kit.sidebar.checkoutable.default_tooltip")) %>
  <%= sidebar_link(t("kit.sidebar.non_checkoutable.text"),
                   non_checkoutable_kits_path,
                   t("kit.sidebar.non_checkoutable.default_tooltip")) %>
  <%= sidebar_link(t("kit.sidebar.missing_components.text"),
                   missing_components_kits_path,
                   t("kit.sidebar.missing_components.default_tooltip")) %>
  <%= sidebar_link(t("kit.sidebar.tombstoned.text"),
                   tombstoned_kits_path,
                   t("kit.sidebar.tombstoned.default_tooltip")) %>
<% end %>

<%= paginate @kits %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Kit ID</th>
      <th>Asset Tags</th>
      <th width="50%">Components</th>
      <th width="50%">Groups</th>
      <th colspan="4">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @kits.each do |kit| %>
      <tr>
        <td><%= kit.id %></td>
        <td><%= kit.asset_tags %></td>
        <td><%= kit.linked_component_list %></td>
        <td><%= kit.linked_groups_list %></td>
        <td class="action-buttons">
          <%= reserve_mini_button(kit) %>
        </td>
        <td class="action-buttons">
          <%= checkout_mini_button(kit) %>
        </td>
        <td class="action-buttons">
          <%= show_mini_button(kit, 'Loans') %>
        </td>
        <td class="action-buttons">
          <%= edit_mini_button(kit) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @kits %>
