<% title t('page_titles.index.kits') %>

<% content_for :sidebar do %>
  <li class="nav-header"><%= t(".actions") %></li>
  <li><%= auth_link([:new, Kit]) %></li>
  <li class="nav-header"><%= t(".filters") %></li>
  <li><%= auth_link(Kit) %></li>
  <li><%= auth_link(Kit, { filter: "circulating"        }) %></li>
  <li><%= auth_link(Kit, { filter: "non_circulating"    }) %></li>
  <li><%= auth_link(Kit, { filter: "missing_components" }) %></li>
  <li><%= auth_link(Kit, { filter: "deaccessioned"      }) %></li>
<% end %>

<%= paginate @kits %>

<table class="table">
  <thead>
    <tr>
      <th><%= t('labels.kit.id') %></th>
      <th><%= t('labels.kit.asset_tags') %></th>
      <th><%= t('labels.kit.location') %></th>
      <th><%= t('labels.kit.components') %></th>
      <th><%= t('labels.kit.groups') %></th>
      <th><%= t('labels.kit.circulation_type') %></th>
      <th class="actions"><%= t('helpers.headers.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% kits.each do |kit| %>
      <tr>
        <td><%= kit.to_link %></td>
        <td><%= kit.asset_tags %></td>
        <td><%= kit.location %></td>
        <td><%= kit.linked_component_list %></td>
        <td><%= kit.linked_groups_list %></td>
        <td><%= kit.circulation_type %></td>
        <td class="actions">
          <% # TODO: make these not suck %>
          <% if kit.checked_out? %>
            <%= auth_link([:edit, kit, Loan], { a: "check_in" }) %>
          <% else %>
            <%= auth_link([:new, kit, Loan], { a: "check_out" }) %>
          <% end %>
          <%= auth_link([:new, kit, Loan], { a: "request" }) %>
          <%= auth_link(kit) %>
          <%= auth_link([:edit, kit]) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @kits %>
