<div class="page-header">
  <h1>Kit <%= @kit.id.to_s %> <small><%= @kit.component_list %></small></h1>
</div>

<div class="pull-right">
  <img src="https://chart.googleapis.com/chart?chs=150x150&cht=qr&chl=<%= u(kit_url(@kit)) %>&choe=UTF-8" alt="QR code" class="qrcode">
</div>

<dl class="dl-horizontal">
  <dt>Location</dt>
  <dd><%= @kit.location %></dd>
  <dt>Training Required</dt>
  <dd><%= @kit.training_required %></dd>
  <dt>Checkoutable</dt>
  <dd><%= @kit.checkoutable %></dd>
  <dt>Tombstoned</dt>
  <dd><%= @kit.tombstoned %></dd>
  <dt>Budget</dt>
  <dd><%= @kit.budget %></dd>
  <dt>Cost</dt>
  <dd><%= @kit.cost %></dd>
  <dt>Insured</dt>
  <dd><%= @kit.insured %></dd>
</dl>

<h3>Components</h3>
<table class="table table-striped">
  <tbody>
    <tr>
      <th width="span2">Brand</th>
      <th width="span3">Model</th>
      <th width="span3">Asset Tag</th>
      <th width="span3">Serial Number</th>
      <th width="span1">Missing</th>
    </tr>
<% @kit.components.each do |c| %>
    <tr>
      <td><%= c.linked_brand %></td>
      <td><%= c.linked_model %></td>
      <td><%= c.asset_tag %></td>
      <td><%= c.serial_number %></td>
      <td><%= c.missing %></td>
    </tr>
<% end %>
  </tbody>
</table>

<div><%= link_to 'Show Reservations', kit_reservations_path(@kit) if @kit.reservable? %></div>

<div class="form-actions">
  <%= link_to 'Back', kits_path, :class => 'btn'  %>
  <%= link_to 'Reserve', new_kit_reservation_path(@kit), :class => 'btn' if @kit.reservable? %>
  <%= link_to('Edit', edit_kit_path(@kit), :class => 'btn btn-edit-kit') if can? :manage, Kit %>
  <%= link_to('Destroy', edit_kit_path(@kit), :method => :delete, :confirm => 'Are you sure? Note: this will not delete associated components, just the kit.', :class => 'btn btn-danger btn-delete-kit') if can? :manage, Kit %>

</div>
