<div class="page-header">
  <h1>Kit <%= @kit.id.to_s %> <small><%= @kit.component_list %></small></h1>
</div>

<div class="pull-right">
  <img src="https://chart.googleapis.com/chart?chs=150x150&cht=qr&chl=<%= u(kit_url(@kit)) %>&choe=UTF-8" alt="QR code" class="qrcode">
</div>

<dl class="dl-horizontal">
  <dt>Location</dt>
  <dd><%= @kit.location %></dd>
  <dt>Training Required</dt>
  <dd><%= @kit.training_required %></dd>
  <dt>Checkoutable</dt>
  <dd><%= @kit.checkoutable %></dd>
  <dt>Tombstoned</dt>
  <dd><%= @kit.tombstoned %></dd>
  <dt>Budget</dt>
  <dd><%= @kit.budget %></dd>
  <dt>Cost</dt>
  <dd><%= @kit.cost %></dd>
  <dt>Insured</dt>
  <dd><%= @kit.insured %></dd>
</dl>

<% unless @kit.groups.empty? %>
  <h2>Groups</h2>
  <% @kit.groups.each do |group| %>
    <div><%= link_to group.name, group_path(group) %></div>
  <% end %>
<% end %>

<h2>Components</h2>
<table class="table table-striped">
  <tbody>
    <tr>
      <th width="span2">Brand</th>
      <th width="span3">Model</th>
      <th width="span3">Asset Tag</th>
      <th width="span3">Serial Number</th>
      <th width="span1">Missing</th>
    </tr>
  <%= render :partial => 'component', :collection =>  @kit.components %>
  </tbody>
</table>

<div><%= link_to 'Show Loans', kit_loans_path(@kit) if @kit.reservable? %></div>

<div class="form-actions">
  <%= link_to 'Back', kits_path, :class => 'btn'  %>
  <%= link_to 'Check Out', new_kit_loan_path(@kit), :class => 'btn' if @kit.reservable? %>
  <%= link_to 'Reserve', new_kit_loan_path(@kit), :class => 'btn' if @kit.reservable? %>
  <%= link_to('Edit', edit_kit_path(@kit), :class => 'btn btn-edit-kit') if can? :manage, Kit %>
  <%= link_to('Destroy', edit_kit_path(@kit), :method => :delete, :confirm => 'Are you sure? Note: this will not delete associated components, just the kit.', :class => 'btn btn-danger btn-delete-kit') if can? :manage, Kit %>

</div>
