<% title t('page_titles.show.kit') %>
<% subtitle "#" + kit.to_s %>

<% content_for :sidebar do %>
  <li class="nav-header"><%= t(".actions") %></li>
  <%# TODO: make the check_in/check_out links visible based on current status %>
  <li><%= auth_link([:edit, @kit]) %></li>
  <li><%= auth_link([:new, @kit, Loan], { a: "check_in" }, { text: t('links.loan.check_in') }) %></li>
  <li><%= auth_link([:new, @kit, Loan], { a: "check_out" }, { text: t('links.loan.check_out') }) %></li>
  <li><%= auth_link([:new, @kit, Loan], { a: "reserve"   }, { text: t('links.loan.reserve')   }) %></li>
  <li><a href="https://chart.googleapis.com/chart?chs=150x150&cht=qr&chl=<%= u(kit_url(@kit)) %>&choe=UTF-8" alt="QR code"><i class="icon-qrcode"></i><span>Print QR code</span></a></li>
  <li class="nav-header"><%= t('titles.inventory_record.index') %></li>
  <li><%= auth_link([@kit, Loan]) %></li>
  <li><%= auth_link([@kit, InventoryRecord]) %></li>
  <%# TODO: implement the audit inventory controller %>
  <%#= sidebar_link(:new, AuditInventoryRecord.new(kit: @kit)) %>
<% end %>

<dl class="dl-horizontal">
  <dt><%= t('labels.kit.location') %></dt>
  <dd><%= kit.location %></dd>
  <dt><%= t('labels.kit.custodian') %></dt>
  <dd><%= kit.custodian %></dd>
  <dt><%= t('labels.kit.training_required') %></dt>
  <dd><%= kit.training_required %></dd>
  <dt><%= t('labels.kit.circulation_type') %></dt>
  <dd><%= kit.circulation_type %></dd>
</dl>

<h2>Components</h2>
<%= render partial: 'components/component_list', object: kit.components %>


<h2><%= t('page_titles.index.groups') %></h2>
<% if kit.groups.empty? %>
<p><%= t('notifications.no_groups') %></p>
<% else %>
  <% kit.groups.each do |group| %>
    <div><%= link_to group.name, group_path(group) %></div>
  <% end %>
<% end %>
