<% title "Kit #{ @kit.id }" %>
<% subtitle @kit.component_list %>
<% content_for :sidebar do %>
  <li class="nav-header"><%= t(".actions") %></li>
  <%= sidebar_link t('kit.sidebar.checkout.text'),
                   new_kit_loan_path(@kit, state_event: 'checkout'),
                   t('kit.sidebar.checkout.default_tooltip'),
                   @kit.reservable?(current_user),
                   t('kit.sidebar.checkout.denied_tooltip') %>
  <%= sidebar_link t('kit.sidebar.reserve.text'),
                   new_kit_reservation_path(@kit),
                   t('kit.sidebar.reserve.default_tooltip'),
                   @kit.reservable?(current_user),
                   t('kit.sidebar.reserve.denied_tooltip') %>
  <%= sidebar_link t('kit.sidebar.loans.text'),
                   kit_loans_path(@kit),
                   t('kit.sidebar.loans.default_tooltip'),
                   @kit.reservable?(current_user),
                   t('kit.sidebar.loans.denied_tooltip') %>
  <%= sidebar_link t('kit.sidebar.edit.text'),
                   edit_kit_path(@kit),
                   t('kit.sidebar.edit.default_tooltip'),
                   can?(:manage, @kit),
                   t('kit.sidebar.edit.denied_tooltip') %>

  <li class="nav-header">Inventory</li>
  <%= sidebar_link t('kit.sidebar.inventory_records.text'),
                   kit_inventory_records_path(@kit),
                   t('kit.sidebar.inventory_records.default_tooltip'),
                   can?(:read, InventoryRecord),
                   t('kit.sidebar.inventory_records.denied_tooltip') %>
  <%= sidebar_link t('kit.sidebar.new_inventory_records.text'),
                   new_kit_inventory_record_path(@kit),
                   t('kit.sidebar.new_inventory_records.default_tooltip'),
                   can?(:manage, InventoryRecord),
                   t('kit.sidebar.new_inventory_records.denied_tooltip') %>
<% end %>

<div class="pull-right">
  <img src="https://chart.googleapis.com/chart?chs=150x150&cht=qr&chl=<%= u(kit_url(@kit)) %>&choe=UTF-8" alt="QR code" class="qrcode">
</div>

<dl class="dl-horizontal">
  <dt>Location</dt>
  <dd><%= @kit.location %></dd>
  <dt>Training Required</dt>
  <dd><%= @kit.training_required %></dd>
  <dt>Checkoutable</dt>
  <dd><%= @kit.checkoutable %></dd>
  <dt>Tombstoned</dt>
  <dd><%= @kit.tombstoned %></dd>
  <% if can? :manage, @kit %>
    <dt>Budget</dt>
    <dd><%= @kit.budget %></dd>
    <dt>Cost</dt>
    <dd><%= @kit.cost %></dd>
    <dt>Insured</dt>
    <dd><%= @kit.insured %></dd>
  <% end %>  
</dl>

<% unless @kit.groups.empty? %>
  <h2>Groups</h2>
  <% @kit.groups.each do |group| %>
    <div><%= link_to group.name, group_path(group) %></div>
  <% end %>
<% end %>

<h2>Components</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th width="span2">Brand</th>
      <th width="span3">Model</th>
      <th width="span3">Asset Tag</th>
      <th width="span3">Serial Number</th>
      <th width="span1">Status</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial:'component', collection: @kit.components %>
  </tbody>
</table>
