<tr class="fields">
  <td>
    <%= f.input :id, :as => :hidden, :wrapper => :tabular %>
    <% if f.object.id.nil? %>
      <%= f.input :user, :as => :ajax_association, :wrapper => :tabular, :path => select2_users_path(:format => :json, :group_id =>  @group.id) %>
    <% else %>
      <%= f.association :user, :as => :hidden, :wrapper => :tabular %>
      <%= f.object.user.username %>
    <% end %>
  </td>
  <td>
    <%= f.input :expires_at, :as => :date_picker, :wrapper => :tabular %>
  </td>
  <td>
    <%= f.input :supervisor, :wrapper => :tabular %>
  </td>
  <td><%= f.link_to_remove "Delete", :class => "btn btn-danger" %></td>
</tr>
