<% kit = KitDecorator.decorate(f.object.kit) unless f.object.new_record? %>
<tr class="fields">
  <% if f.object.new_record? %>
    <td colspan="3">
      <%= f.input :kit,
                  :as => :ajax_association,  
                  :wrapper => :tabular,
                  :path => select2_kits_path(:format => :json, :group_id =>  @group.id) %>
    </td>
  <% else %>
    <td>
      <%= kit.to_link %>
      <%= f.input :kit_id, :as => :hidden %>
    </td>
    <td>
      <%= kit.asset_tags %>
    </td>
    <td><%= kit.component_list %></td>
  <% end %>
  <td>
    <%= f.input :id, :as => :hidden, :wrapper => :tabular %>
    <%= f.input :expires_at, :as => :date_picker, :wrapper => :tabular %>
  </td>
  <td><%= f.link_to_remove "Delete", :class => "btn btn-danger" %></td>
</tr>
