<% title t('page_titles.index.groups') %>

<% content_for :sidebar do %>
  <li class="nav-header"><%= t(".actions") %></li>
  <li><%= auth_link([:new, Group]) %></li>
  <li class="nav-header"><%= t("user.sidebar.filters") %></li>
  <li><%= auth_link(Group) %></li>
  <li><%= auth_link(Group, { filter: 'active'  }) %></li>
  <li><%= auth_link(Group, { filter: 'expired' }) %></li>
  <li><%= auth_link(Group, { filter: 'empty'   }) %></li>
<% end %>

<%= paginate @groups %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('group.name') %></th>
      <th><%= t('group.description') %></th>
      <th><%= t('group.user_count') %></th>
      <th><%= t('group.kit_count') %></th>
      <th><%= t('helpers.headers.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% groups.each_with_index do |group, idx| %>
      <tr>
        <td><%= link_to group.name, group_path(group) %></td>
        <td><%= group.description %></td>
        <td><%= group.num_users %></td>
        <td><%= group.num_kits %></td>
        <td class="actions">
            <%= auth_link(group) %>
            <%= auth_link([:edit, group]) %>
            <%= button_to t('helpers.actions.destroy'),
                  group_path(group),
                  :method => :delete,
                  :data => {
                    :confirm => t('.confirm',
                    :default => t("helpers.links.confirm", :default => 'Are you sure?'))
                  },
                  :class => 'btn btn-mini btn-danger'  if can? :manage, group %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @groups %>
