<% title 'group.title' %>

<% content_for :sidebar do %>
      <li class="nav-header"><%= t(".actions") %></li>
      <%= sidebar_link(t('helpers.links.new'),
                       new_group_path,
                       t('group.sidebar.add.default_tooltip'),
                       can?(:manage, Group),
                       t('group.sidebar.add.denied_tooltip')) %>
<% end %>

<%= paginate @groups %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('group.name') %></th>
      <th><%= t('group.description') %></th>
      <th class="skinny-column"><%= t('group.user_count') %></th>
      <th class="skinny-column"><%= t('group.kit_count') %></th>
      <th><%= t('.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= link_to group.name, group_path(group) %></td>
        <td><%= group.description %></td>
        <td><%= group.users.count %></td>
        <td><%= group.kits.count %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_group_path(group), :class => 'btn btn-mini' if can? :manage, Group %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      group_path(group),
                      :method => :delete,
                      :data => {
                        :confirm => t('.confirm',
                        :default => t("helpers.links.confirm", :default => 'Are you sure?'))
                      },
                      :class => 'btn btn-mini btn-danger'  if can? :manage, Group%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @groups %>
