<div class="page-header">
  <h1>Group <small><%= @group.name %></small></h1>
</div>

<h2>Users</h2>

<div class="row-fluid">
  <div class="span12">
    <% if @memberships.empty? %>
    <p>No users</p>
    <% else %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="skinny-column">Status</th>
          <th>Username</th>
          <th>Email</th>
          <th>Membership<br>Expires</th>
          <th>Group<br>Supervisor</th>
        </tr>
      </thead>
      <tbody>
        <% @memberships.each do |m| %>
          <tr>
            <td><%= m.user.status_icon %></td>
            <td><%= link_to m.user.username, user_path(m.user) %></td>
            <td><%= m.user.email %></td>
            <td><%= m.expires_at %></td>
            <td><%= m.supervisor %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
  </div>
</div>

<h2>Kits</h2>

<div class="row-fluid">
  <div class="span12">
    <% if @group.kits.empty? %>
    <p>No kits</p>
    <% else %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Kit ID</th>
          <th>Asset Tag</th>
          <th>Components</th>
          <th>Group Count</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% @group.kits.each do |kit| %>
        <tr>
          <td><%= kit.id %></td>
          <td><%= kit.asset_tags %></td>
          <td><%= kit.linked_component_list %></td>
          <td><%= kit.groups.count %></td>
          <td><%= kit.status %></td>
          <td><%= link_to "Show Loans", kit_loans_path(kit), :class => 'btn btn-small' if can?(:read, Loan) %>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
  </div>
</div>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              groups_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_group_path(@group), :class => 'btn' if can?(:manage, Group) %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              group_path(@group),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' if can?(:manage, Group) %>
</div>
