<% title t('page_titles.show.group') %>
<% subtitle group %>

<% content_for :sidebar do %>
  <li class="nav-header"><%= t(".actions") %></li>
  <li><%= auth_link([:edit, @group]) %></li>
  <li>
    <% # TODO: wrap this up in the auth_link helper %>
    <%= link_to "<i class='icon-trash'></i> Delete Group".html_safe,
              group_path(@group),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger btn-link' if can?(:manage, Group) %></li>

  <li><%= auth_link([@group, Membership]) %></li>
  <li><%= auth_link([@group, Permission]) %></li>
<% end %>

<dl class="dl-horizontal">
  <dt><%= t('labels.group.name') %></dt>
  <dd><%= group.name %></dd>
  <dt><%= t('labels.group.description') %></dt>
  <dd><%= group.description %></dd>
  <dt><%= t('labels.group.kit_count') %></dt>
  <dd><%= group.kits.count %></dd>
  <dt><%= t('labels.group.membership_count') %></dt>
  <dd><%= group.memberships.count %></dd>
</dl>
