<%= simple_nested_form_for @user.model, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :username %>
  <%= f.input :email %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.association :covenants, :as => :check_boxes %>
  <%= f.input :suspended_until, :as => :date_picker %>
  <%= f.input :disabled, :as => :radio_buttons %>

  <%= f.association :roles, :as => :check_boxes %>

  <h2>Groups</h2>
  <div class="records row-fluid">
    <div class="fields field-headers row-fluid">
      <div class="field field-header span6">Name</div>
      <div class="field field-header span4">Expires</div>
      <div class="field field-header span2">Actions</div>
    </div>
    <%= f.simple_fields_for :memberships, @user.model.memberships %>
    <%= f.link_to_add raw("<i class='icon-plus-sign'></i> Add another group"), :memberships %>
  </div>

  <h2>Training</h2>
  <div class="records row-fluid">
    <div class="fields field-headers row-fluid">
      <div class="field field-header span10">Model</div>
      <div class="field field-header span2">Actions</div>
    </div>
    <%= f.simple_fields_for :trainings, @user.model.trainings %>
    <%= f.link_to_add raw("<i class='icon-plus-sign'></i> Add another model"), :trainings %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                active_users_path, :class => 'btn' %>
  </div>
<% end %>
