<tr class="fields">
  <td>
    <%= f.input :id, :as => :hidden %>
    <% if f.object.new_record? %>
      <%= f.input :component_model,
                  :as => :ajax_association,
                  :wrapper => :tabular,
                  :path => select2_component_models_path(:format => :json) %>
    <% else %>
      <%= ComponentModelDecorator.decorate(f.object.component_model) %>
      <%= f.input :component_model_id, :as => :hidden, :wrapper => :tabular %>
    <% end %>
  </td>
  <td><%= f.link_to_remove "Delete", :class => "btn btn-danger" %></td>
</tr>
