<div class="page-header">
  <h1>User</h1>
</div>

<div class="row-fluid">
  <div class="span12">
    <dl class="dl-horizontal">
      <dt>Username</dt>
      <dd><%= @user.username %></dd>
      <dt>Email</dt>
      <dd><%= @user.email %></dd>
      <dt>Suspension count</dt>
      <dd><%= @user.suspension_count %></dd>
      <dt>Suspended Until</dt>
      <dd><%= @user.suspended_until %></dd>
      <dt>Disabled</dt>
      <dd><%= @user.disabled %></dd>
      <dt>Roles</dt>
      <dd><%= @user.roles_list("<br>") %></dd>
      <dt>Groups</dt>
      <dd><%= @user.groups_list("<br>") %></dd>
    </dl>
  </div>
</div>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              users_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_user_path(@user), :class => 'btn' %>
</div>
