<%= javascript_include_tag 'jquery.calendrical' %>

<%= simple_form_for(@business_hour) do |f| %>
  <%= f.error_notification %>

  <% BusinessHour.days.each do |k, v| %>
  <div class="form-inputs">
    <%= f.input :day %>
    <%= f.input :open, :as => :sf_time_picker %>
    <%= f.input :close %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<%= javascript_tag do %>
  $('.timepicker').calendricalTime();
<% end %>
