<% title t('page_titles.show.settings') %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('settings.table.name') %></th>
      <th><%= t('settings.table.value') %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= t("simple_form.labels.settings.default_loan_duration") %></td>
      <td><%= @default_loan_duration %></td>
    </tr>
    <tr>
      <td><%= t("simple_form.labels.settings.clients_can_see_equipment_outside_their_groups") %></td>
      <td><%= @clients_can_see_equipment_outside_their_groups.to_s %></td>
    </tr>
    <tr>
      <td><%= t("simple_form.labels.settings.attendants_can_self_check_out") %></td>
      <td><%= @attendants_can_self_check_out.to_s %></td>
    </tr>
  </tbody>
</table>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              root_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_settings_path, :class => 'btn' %>
</div>
