<h1>Listing models</h1>

<table>
  <tr>
    <th>Maker</th>
    <th>Name</th>
    <th>Description</th>
    <th>Training required</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @models.each do |model| %>
  <tr>
    <td><%= model.maker_id %></td>
    <td><%= model.name %></td>
    <td><%= model.description %></td>
    <td><%= model.training_required %></td>
    <td><%= link_to 'Show', model %></td>
    <td><%= link_to 'Edit', edit_model_path(model) %></td>
    <td><%= link_to 'Destroy', model, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Model', new_model_path %>
