<p id="notice"><%= notice %></p>

<p>
  <b>Maker:</b>
  <%= @model.maker_id %>
</p>

<p>
  <b>Name:</b>
  <%= @model.name %>
</p>

<p>
  <b>Description:</b>
  <%= @model.description %>
</p>

<p>
  <b>Training required:</b>
  <%= @model.training_required %>
</p>


<%= link_to 'Edit', edit_model_path(@model) %> |
<%= link_to 'Back', models_path %>
