<%= form_for(@asset_tag) do |f| %>
  <% if @asset_tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@asset_tag.errors.count, "error") %> prohibited this asset_tag from being saved:</h2>

      <ul>
      <% @asset_tag.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :uid %><br />
    <%= f.text_field :uid %>
  </div>
  <div class="field">
    <%= f.label :part %><br />
    <%= f.text_field :part %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
