<h1>Listing asset_tags</h1>

<table>
  <tr>
    <th>Uid</th>
    <th>Part</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @asset_tags.each do |asset_tag| %>
  <tr>
    <td><%= asset_tag.uid %></td>
    <td><%= asset_tag.part %></td>
    <td><%= link_to 'Show', asset_tag %></td>
    <td><%= link_to 'Edit', edit_asset_tag_path(asset_tag) %></td>
    <td><%= link_to 'Destroy', asset_tag, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Asset tag', new_asset_tag_path %>
