<h1>Reservations</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Client</th>
      <th>Kit</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Out Date</th>
      <th>In Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= link_to reservation.client, users_reservations_path(reservation.client) unless reservation.client.nil? %>
        <td><%= link_to reservation.kit, kit_path(reservation.kit) unless reservation.kit.nil? %></td>
        <td><%= reservation.start_at.to_s(:tabular) %></td>
        <td><%= reservation.end_at.to_s(:tabular) %></td>
        <td><%= reservation.out_at.try(:to_s, :tabular) %></td>
        <td><%= reservation.in_at.try(:to_s, :tabular) %></td>
        <td>
          <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-cog"></i>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to reservation_path(reservation) do %>
                  <i class="icon-info-sign"></i>
                  Show
                <% end %>
              </li>
              <li>
                <%= link_to edit_reservation_path(reservation)  do %>
                  <i class="icon-pencil"></i>
                  Edit
                <% end %>
              </li>
              <li class="divider"></li>
              <li>
                <%= link_to reservation_path(reservation), :method => :delete, :confirm => 'Are you sure?' do %>
                  <i class="icon-trash"></i>
                  Delete
                <% end %>
              </li>
            </ul>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%# TODO: this should feed into some sort of wizard - 1) select equipment, 2) select client, 3) new reservation %>
<%#= link_to 'New', new_reservation_path, :class => 'btn btn-primary' %>
