<h1>Reservation</h1>

<p>
  <b>Client</b><br>
  <%= @client %>
</p>

<p>
  <b>Check Out Location</b><br>
  <%= @location %>
</p>

<p>
  <b>Kit</b><br>
  <%= link_to @kit, kit_path(@kit) %>
</p>

<p>
  <b>Check Out Day</b><br>
  <%= @reservation.start_at.to_formatted_s(:verbose) %>
</p>

<p>
  <b>Check In Day</b><br>
  <%= @reservation.end_at.to_formatted_s(:verbose) %>
</p>

<p>
  <b>Checked Out At</b><br>
  <%= @reservation.out_at ||= 'Not checked out yet' %>
</p>

<p>
  <b>Checked In At</b><br>
  <%= @reservation.in_at ||= 'Not checked in yet' %>
</p>

<p>
  <b>Late</b><br>
  <%= @reservation.late ||= false.to_s %>
</p>

<p>
  <b>Approver</b><br>
  <%= @reservation.approver_id %>
</p>

<p>
  <b>Checked Out By</b><br>
  <%= @reservation.out_assistant_id %>
</p>

<p>
  <b>Checked In By</b><br>
  <%= @reservation.in_assistant_id %>
</p>

<div class="form-actions">
  <%= link_to 'Back', reservations_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_reservation_path(@reservation), :class => 'btn' %>
  <%= link_to 'Delete', reservation_path(@reservation), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
