<h1>Reservation</h1>

<p>
  <b>Kit</b><br>
  <%= @reservation.kit_id %>
</p>

<p>
  <b>Start at</b><br>
  <%= @reservation.start_at %>
</p>

<p>
  <b>End at</b><br>
  <%= @reservation.end_at %>
</p>

<p>
  <b>Out at</b><br>
  <%= @reservation.out_at %>
</p>

<p>
  <b>In at</b><br>
  <%= @reservation.in_at %>
</p>

<p>
  <b>Late</b><br>
  <%= @reservation.late %>
</p>

<p>
  <b>Client</b><br>
  <%= @reservation.client_id %>
</p>

<p>
  <b>Approver</b><br>
  <%= @reservation.approver_id %>
</p>

<p>
  <b>Out assistant</b><br>
  <%= @reservation.out_assistant_id %>
</p>

<p>
  <b>In assistant</b><br>
  <%= @reservation.in_assistant_id %>
</p>

<div class="form-actions">
  <%= link_to 'Back', reservations_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_reservation_path(@reservation), :class => 'btn' %>
  <%= link_to 'Delete', reservation_path(@reservation), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
