<div class="well">
  <p>
    <strong>Good model names</strong> should include specs, revisions, and model
    numbers.
  </p>

  <p>
    Examples of <em>bad</em> names:
  </p>

  <ul>
    <li>Mac Mini</li>
    <li>iPad</li>
    <li>Tripod</li>
    <li>VistaBeam</li>
  </ul>

  <p>Examples of <em>good</em> names:</p>
  <ul>
    <li>Mac Mini, 2.3GHz dual-core i5, 2GB RAM, 500GB HD</li>
    <li>iPad 2 16GB</li>
    <li>294 Aluminum 3-Section Tripod W/QR Ballhead</li>
    <li>VistaBeam 600 DMX One Light Kit</li>
  </ul>

  <p>
    If in doubt, cut and paste the name from an ecommerce site.
  </p>
</div>

<%= simple_nested_form_for @component_model, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :brand_id, :label => "Brand", :required => true, :input_html => {
        :class          => 'select2-json-autocomplete',
        :hidden         => true,
        "data-ajax-url" => brands_path(:format => :json),
        "data-text"     => f.object.try(:brand).try(:name)
      } %>
  <div class="controls control-action">
    <!-- displays the brands/new_modal partial -->
    <a data-toggle="modal" href="#brand_modal">New Brand</a>
  </div>
  <%= f.input :name %>
  <%= f.input :model_number %>
  <%= f.input :description %>
  <%= f.input :training_required, :as => :radio_buttons %>
  <div id="suggestion_popover" class="popover-anchor"></div>
  <%= f.association :categories, :collection => Category.order(:name).all, :input_html => {
        :multiple => true,
        :class    => 'select2-tagged-field categories-select'
      } %>
  <div class="controls control-action">
    <!-- displays the categories/new_modal partial -->
    <a data-toggle="modal" href="#category_modal">New Category</a>
  </div>

  <h2>Training</h2>
  <div class="records row-fluid">
    <div class="fields field-headers row-fluid">
      <div class="field field-header span5">Username</div>
      <div class="field field-header span5">Full Name</div>
      <div class="field field-header span2">Actions</div>
    </div>
    <%= f.simple_fields_for :trainings, @trainings %>
    <%= f.link_to_add raw("<i class='icon-plus-sign'></i> Add another user"), :trainings %>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to 'Cancel', component_models_path, :class => 'btn' %>
  </div>
<% end %>

<%= render :partial => 'brands/new_modal' %>
<%= render :partial => 'categories/new_modal' %>
