<%= simple_form_for @loan.model, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <% if @default_checkout_length %>
      <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Note:</strong> The default length of a checkout is <%= @default_checkout_length %> day(s), not including weekends and holidays. If you select a return date beyond <%= @default_checkout_length %> day(s), your reservation will require approval.
      </div>
    <% end %>

    <%= f.association :client, :as => :hidden %>
    <%= f.input       :client, :readonly => true, :disabled => true %>

    <% if @loan.kit %>
      <%= f.association :kit, :as => :hidden %>
      <%= f.input       :kit, :readonly => true, :disabled => true %>
    <% else %>  
      <%= f.input :component_model_id, :as => :hidden %>
      <%= f.input :component_model, :disabled => true %>
    <% end %>

    <%= f.input :location, :collection => f.object.locations, :prompt => "Select a checkout location" %>

    <%= f.input :starts_at, :as => :date_picker,
        :label => 'Pick Up Date',
        :input_html => {
          :value => (f.object.starts_at.nil? ? nil : localize(f.object.starts_at, :format => "%Y-%m-%d"))
        }  %>

    <%= f.input :ends_at, :as => :date_picker,
        :label => 'Return Date',
        :input_html => {
          :value => (f.object.ends_at.nil? ? nil : localize(f.object.ends_at, :format => "%Y-%m-%d"))
        } %>
    
    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', loans_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
