<%= simple_form_for @loan.model, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <div class="alert alert-info">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <strong>Note:</strong> The default length of a checkout is <%= @default_checkout_length %> day(s), not including weekends and holidays. If you select a return date beyond <%= @default_checkout_length %> day(s), your reservation will require approval.
    </div>

    <% if can? :manage, @loan %>
      <%= f.input :client_id,
                  :input_html => {
                      :class => 'select2-json-autocomplete select-user',
                      :hidden => true,
                      "data-text" => @loan.model.client,
                      "data-ajax-url" => select2_users_path(:format => :json)
                  } %>
    <% else %>
      <%= f.association :client, :as => :hidden %>
      <%= f.input       :client, :readonly => true, :disabled => true %>
    <% end %>

    <% if @loan.kit %>
      <%= f.association :kit, :as => :hidden %>
      <%= f.input       :kit, :readonly => true, :disabled => true %>
    <% else %>  
      <%= f.input :component_model_id, :as => :hidden %>
      <%= f.input :component_model, :disabled => true %>
    <% end %>

    <%= f.input :location, :collection => f.object.locations, :prompt => "Select a checkout location" %>

    <% if @loan.model.out_at %>
      <%= f.input :out_at, :as => :hidden %>
      <%= f.input :out_at, :as => :date_picker, :disabled => true %>
    <% else %>
      <%= f.input :starts_at, :as => :date_picker %>
    <% end %>

    <%= f.input :ends_at, :as => :date_picker %>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', loans_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
