<% title t('page_titles.index.loans') %>
<% subtitle t("page_subtitles.index.loans.#{ @subtitle_key || 'all' }") %>

<% content_for :sidebar do %>
  <li class="nav-header"><%= t("loan.sidebar.filters") %></li>
  <li><%= auth_link(Loan) %></li>
  <li><%= auth_link(Loan, { filter: "pending" }) %></li>
  <li><%= auth_link(Loan, { filter: "requested" }) %></li>
  <li><%= auth_link(Loan, { filter: "checked_out" }) %></li>
  <li><%= auth_link(Loan, { filter: "checked_in" }) %></li>
  <%#= auth_link(Loan, { filter: "rejected" }) %>
  <li><%= auth_link(Loan, { filter: "canceled" }) %></li>
<% end %>

<%= paginate @loans %>
<%= render partial: 'loans_table', object: loans %>
<%= paginate @loans %>
