<% title t('loan.index.title') %>

<% content_for :sidebar do %>
  <li class="nav-header"><%= t(".actions") %></li>
  <%= sidebar_link t('helpers.links.new'),
                   new_loan_path,
                   t('loan.sidebar.add.default_tooltip'),
                   can?(:manage, Loan),
                   t('loan.sidebar.add.denied_tooltip') %>
  <li class="nav-header"><%= t("loan.sidebar.filters") %></li>
  <%= sidebar_link t("loan.sidebar.all.text"),
                    loans_path,
                    t("loan.sidebar.all.default_tooltip") %>
  <%= sidebar_link t("loan.sidebar.pending.text"),
                    pending_loans_path(@forward_params),
                    t("loan.sidebar.pending.default_tooltip") %>
  <%= sidebar_link t("loan.sidebar.approved.text"),
                    approved_loans_path(@forward_params),
                    t("loan.sidebar.approved.default_tooltip") %>
  <%= sidebar_link t("loan.sidebar.checked_out.text"),
                    checked_out_loans_path(@forward_params),
                    t("loan.sidebar.checked_out.default_tooltip") %>
  <%= sidebar_link t("loan.sidebar.checked_in.text"),
                    checked_in_loans_path(@forward_params),
                    t("loan.sidebar.checked_in.default_tooltip") %>
  <%= sidebar_link t("loan.sidebar.rejected.text"),
                    rejected_loans_path(@forward_params),
                    t("loan.sidebar.rejected.default_tooltip") %>
  <%= sidebar_link t("loan.sidebar.canceled.text"),
                    canceled_loans_path(@forward_params),
                    t("loan.sidebar.canceled.default_tooltip") %>
<% end %>

<%= paginate @loans %>

<table class="table table-striped">
  <thead>
    <tr>
      <th colspan="2">Client</th>
      <th>Kit</th>
      <th>Asset Tags</th>
      <th>Kit Components</th>
      <th>Pick Up Date</th>
      <th>Return Date</th>
      <th>Out Date</th>
      <th>In Date</th>
      <th>State</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @loans.each do |loan| %>
      <tr>
        <td><%= loan.client.username %></td>
        <td class="ellipsize"><%= loan.client.tabular_full_name %></div></td>
        <td><%= loan.kit %></td>
        <td class="ellipsize"><%= loan.kit.tabular_asset_tags %></td>
        <td class="ellipsize"><%= loan.kit.tabular_component_list %></td>
        <td style="white-space: nowrap;"><%= loan.starts_at %></td>
        <td style="white-space: nowrap;"><%= loan.ends_at %></td>
        <td style="white-space: nowrap;"><%= loan.out_at %></td>
        <td style="white-space: nowrap;"><%= loan.in_at %></td>
        <td><%= loan.state %></td>
        <td>
          <div class="btn-group">
            <button class="btn dropdown-toggle" data-toggle="dropdown">
              <i class="icon-cog"></i>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><%= show_link(loan) %></li>
              <% if loan.approved? %>
              <li><%= checkout_link(loan) %></li>
              <% end %>
              <li><%= edit_link(loan) %></li>
            </ul>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @loans %>
