<% title t('loan.index.title') %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Client</th>
      <th>Kit</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Out Date</th>
      <th>In Date</th>
      <th>State</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @loans.each do |loan| %>
      <tr>
        <td><%= loan.client %>
        <td><%= loan.kit %></td>
        <td><%= loan.starts_at %></td>
        <td><%= loan.ends_at %></td>
        <td><%= loan.out_at %></td>
        <td><%= loan.in_at %></td>
        <td><%= loan.state %></td>
        <td>
          <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-cog"></i>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to loan_path(loan) do %>
                  <i class="icon-info-sign"></i>
                  Show
                <% end %>
              </li>
              <li>
                <%= link_to edit_loan_path(loan)  do %>
                  <i class="icon-pencil"></i>
                  Edit
                <% end %>
              </li>
              <li class="divider"></li>
              <li>
                <%= link_to loan_path(loan), :method => :delete, :confirm => 'Are you sure?' do %>
                  <i class="icon-trash"></i>
                  Delete
                <% end %>
              </li>
            </ul>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%# TODO: this should feed into some sort of wizard - 1) select equipment, 2) select client, 3) new loan %>
<%#= link_to 'New', new_loan_path, :class => 'btn btn-primary' %>
