<% title t('page_titles.index.loans') %>
<% subtitle t("page_subtitles.index.loans.#{ @subtitle_key || 'all' }") %>

<% content_for :sidebar do %>
  <li class="nav-header"><%= t("loan.sidebar.filters") %></li>
  <li><%= auth_link(Loan) %></li>
  <li><%= auth_link(Loan, { filter: "pending" }) %></li>
  <li><%= auth_link(Loan, { filter: "approved" }) %></li>
  <li><%= auth_link(Loan, { filter: "checked_out" }) %></li>
  <li><%= auth_link(Loan, { filter: "checked_in" }) %></li>
  <%#= auth_link(Loan, { filter: "rejected" }) %>
  <li><%= auth_link(Loan, { filter: "canceled" }) %></li>
<% end %>

<%= paginate @loans %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('labels.loan.kit') %></th>
      <th><%= t('labels.loan.client') %></th>
      <th><%= t('labels.loan.asset_tags') %></th>
      <th><%= t('labels.loan.components') %></th>
      <th><%= t('labels.loan.starts_at') %></th>
      <th><%= t('labels.loan.ends_at') %></th>
      <th><%= t('labels.loan.out_at') %></th>
      <th><%= t('labels.loan.in_at') %></th>
      <th><%= t('labels.loan.status') %></th>
      <th><%= t('labels.default.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% loans.each do |loan| %>
      <tr>
        <td><%= loan.kit.to_link %></td>
        <td><%= loan.client.to_link %></td>
        <td class="ellipsize"><%= loan.kit.tabular_asset_tags %></td>
        <td class="ellipsize"><%= loan.kit.tabular_component_list %></td>
        <td style="white-space: nowrap;"><%= loan.starts_at %></td>
        <td style="white-space: nowrap;"><%= loan.ends_at %></td>
        <td style="white-space: nowrap;"><%= loan.out_at %></td>
        <td style="white-space: nowrap;"><%= loan.in_at %></td>
        <td><%= loan.state %></td>
        <td class="actions">
          <% if loan.checked_out? %>
            <%# TODO: fix these - once you've figured out how this is all going to work %>
            <%#= auth_link([:edit, kit, Loan], { a: "check_in" }) %>
          <% else %>
            <%#= auth_link([:new, kit, Loan], { a: "check_out" }) %>
          <% end %>
          <%= auth_link(loan) %>
          <%= auth_link([:edit, loan]) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @loans %>
