<% title t('loan.index.title') %>

<% content_for :sidebar do %>
  <!-- <li class="nav-header"><%= t(".actions") %></li> -->
  <!-- <%= sidebar_link(:new, Loan.new) %> -->
  <li class="nav-header"><%= t("loan.sidebar.filters") %></li>
  <%= sidebar_link(:index, nil, { path: loans_path                              }, { text: t("loan.sidebar.all.text").html_safe         }) %>
  <%= sidebar_link(:index, nil, { path: pending_loans_path(@forward_params)     }, { text: t("loan.sidebar.pending.text").html_safe     }) %>
  <%= sidebar_link(:index, nil, { path: approved_loans_path(@forward_params)    }, { text: t("loan.sidebar.approved.text").html_safe    })%>
  <%= sidebar_link(:index, nil, { path: checked_out_loans_path(@forward_params) }, { text: t("loan.sidebar.checked_out.text").html_safe }) %>
  <%= sidebar_link(:index, nil, { path: checked_in_loans_path(@forward_params)  }, { text: t("loan.sidebar.checked_in.text").html_safe  }) %>
  <%#= sidebar_link(:index, nil, { path: rejected_loans_path(@forward_params)    }, { text: t("loan.sidebar.rejected.text").html_safe    }) %>
  <%= sidebar_link(:index, nil, { path: canceled_loans_path(@forward_params)    }, { text: t("loan.sidebar.canceled.text").html_safe    }) %>
<% end %>

<%= paginate @loans %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Client</th>
      <th>Kit</th>
      <th>Asset Tags</th>
      <th>Kit Components</th>
      <th>Pick Up Date</th>
      <th>Return Date</th>
      <th>Out Date</th>
      <th>In Date</th>
      <th>State</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% loans.each do |loan| %>
      <tr>
        <td><%= loan.client.username %></td>
        <td><%= loan.kit %></td>
        <td class="ellipsize"><%= loan.kit.tabular_asset_tags %></td>
        <td class="ellipsize"><%= loan.kit.tabular_component_list %></td>
        <td style="white-space: nowrap;"><%= loan.starts_at %></td>
        <td style="white-space: nowrap;"><%= loan.ends_at %></td>
        <td style="white-space: nowrap;"><%= loan.out_at %></td>
        <td style="white-space: nowrap;"><%= loan.in_at %></td>
        <td><%= loan.state %></td>
        <td class="mini-action-buttons">
          <% if loan.checked_out? %>
            <%= mini_button(:check_in, loan) %>
          <% else %>
            <%= mini_button(:check_out, loan) %>
          <% end %>
          <%= mini_button(:edit, loan) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @loans %>
