<% title t('loan.index.title') %>

<% content_for :sidebar do %>
  <li class="nav-header"><%= t(".actions") %></li>
  <%= sidebar_link t('helpers.links.new'),
                   new_loan_path,
                   t('loan.sidebar.add.default_tooltip'),
                   can?(:manage, Loan),
                   t('loan.sidebar.add.denied_tooltip') %>
  <li class="nav-header"><%= t("loan.sidebar.filters") %></li>
  <%= sidebar_link t("loan.sidebar.all.text"),
                    loans_path,
                    t("loan.sidebar.all.default_tooltip") %>
  <%= sidebar_link t("loan.sidebar.pending.text"),
                    pending_loans_path(@forward_params),
                    t("loan.sidebar.pending.default_tooltip") %>
  <%= sidebar_link t("loan.sidebar.approved.text"),
                    approved_loans_path(@forward_params),
                    t("loan.sidebar.approved.default_tooltip") %>
  <%= sidebar_link t("loan.sidebar.checked_out.text"),
                    checked_out_loans_path(@forward_params),
                    t("loan.sidebar.checked_out.default_tooltip") %>
  <%= sidebar_link t("loan.sidebar.checked_in.text"),
                    checked_in_loans_path(@forward_params),
                    t("loan.sidebar.checked_in.default_tooltip") %>
  <%= sidebar_link t("loan.sidebar.rejected.text"),
                    rejected_loans_path(@forward_params),
                    t("loan.sidebar.rejected.default_tooltip") %>
  <%= sidebar_link t("loan.sidebar.canceled.text"),
                    canceled_loans_path(@forward_params),
                    t("loan.sidebar.canceled.default_tooltip") %>
<% end %>

<%= paginate @loans %>

<table class="table table-striped index-view">
  <thead>
    <tr>
      <th width="14%" colspan="2">Client</th>
      <th width="4%">Kit</th>
      <th width="6%">Asset Tags</th>
      <th>Kit Components</th>
      <th width="10%">Start Date</th>
      <th width="10%">End Date</th>
      <th width="10%">Out Date</th>
      <th width="10%">In Date</th>
      <th width="10%">State</th>
      <th width="6%">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @loans.each do |loan| %>
      <tr>
        <td><%= loan.client.username %>
        <td class="truncate"><%= loan.client.full_name %>
        <td><%= loan.kit %></td>
        <td class="truncate"><%= loan.kit.asset_tags %></td>
        <td class="truncate"><%= loan.kit.component_list %></td>
        <td><%= loan.starts_at %></td>
        <td><%= loan.ends_at %></td>
        <td><%= loan.out_at %></td>
        <td><%= loan.in_at %></td>
        <td><%= loan.state %></td>
        <td>
          <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-cog"></i>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to loan_path(loan) do %>
                  <i class="icon-info-sign"></i>
                  Show
                <% end %>
              </li>
              <li>
                <%= link_to edit_loan_path(loan)  do %>
                  <i class="icon-pencil"></i>
                  Edit
                <% end %>
              </li>
              <li class="divider"></li>
              <li>
                <%= link_to loan_path(loan), :method => :delete, :confirm => 'Are you sure?' do %>
                  <i class="icon-trash"></i>
                  Delete
                <% end %>
              </li>
            </ul>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @loans %>
