<% title 'Select a Kit' %>
<p>The <%= @loan.location %> location has <%= @kits.length %> kit(s) to choose from:</p>

<%= simple_form_for @loan, :html => { :class => 'form-horizontal' } do |f| %>
    <%= f.association :client,    :as => :hidden %>
    <%= f.input       :location_id,  :as => :hidden, :input_html => { :value => f.object.location.id } %>
    <%= f.input       :starts_at, :as => :hidden %>
    <%= f.input       :ends_at,   :as => :hidden %>
    <%= f.association :kit,       :as => :radio_buttons, :collection => @kits, :label_method => :description, :value_method => :id %>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', loans_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
