<% title t('loan.show.title', :id => @loan.model.id) %>
<% subtitle @loan.kit.component_list %>

<dl class="dl-horizontal">
  <dt>Status</dt>
  <dd><%= @loan.state %></dd>
  <dt>Client</dt>
  <dd><%= @loan.client %></dd>
  <dt>Check Out Location</dt>
  <dd><%= @loan.location %></dd>
  <dt>Kit</dt>
  <dd><%= @loan.kit %></dd>
  <dt>Pick Up Day</dt>
  <dd><%= @loan.starts_at %></dd>
  <dt>Return Day</dt>
  <dd><%= @loan.ends_at %></dd>
  <dt>Approved By</dt>
  <dd><%= @loan.approver %></dd>
  <dt>Checked Out</dt>
  <dd><%= @loan.out_at %></dd>
  <dt>Checked Out By</dt>
  <dd><%= @loan.out_assistant %></dd>
  <dt>Checked In</dt>
  <dd><%= @loan.in_at %></dd>
  <dt>Checked In By</dt>
  <dd><%= @loan.in_assistant %></dd>
  <dt>Late</dt>
  <dd><%= @loan.late %></dd>
</dl>

<div class="form-actions">
  <%= link_to 'Back', loans_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_loan_path(@loan), :class => 'btn' %>
  <%#= link_to 'Delete', loan_path(@loan), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
