<% title t('component_model_splitter.edit.title', :component_model_name => @component_model.to_s) %>

<div class="alert alert-info">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <strong>Note:</strong> Splitting a model will have several important effects:
  <ul>
    <li>New components will automatically be added to <stong>all kits</stong> which already contain the model being split.</li>
    <li>The list below will replace (or update) the model being split.</li>
  </ul>
</div>

<div class="well">
<p>Splitting is useful where you have a complex item which can be readily decomposed into several smaller components. For example, you might take a "Canon EOS 5D Mark II" and split it up into:</p>
<ul>
  <li>EOS 5D Mark II Body</li>
  <li>Wide Neck Strap EW-EOS5DMKII</li>
  <li>Stereo Video Cable STV-250N</li>
  <li>USB Interface Cable IFC-200U</li>
  <li>Battery Charger LC-E6</li>
  <li>Battery Pack LP-E6</li>
  <li>16GB Flash Card</li>
  <li>EF 50mm f/1.2L USM Lens</li>
</ul>
<p>More fine-grained components make it easier to inventory all the parts of a kit during the check out and check in process. They also make it easier to list small components which may easily go missing, or need to be replaced often.</p>
<p><strong>Tip:</strong> Splitting can also be a shortcut to add arbitrary components to kits which contain a specific model. For example, you may want to add a USB cable to all kits with a specific type of camera. Just split the camera into a camera and a USB cable.</p>
</div>

<%= simple_nested_form_for @split_component_model, :html => { :class => 'split-component-model form-horizontal' } do |f| %>
  <%= f.input :root_component_model_id, :as => :hidden %>
  <%= f.simple_fields_for :component_models %>
  <%= f.link_to_add(:component_models, :model_object => ComponentModel.new) do %>
  <%= t('split_component_model.edit.add_new_component_model').html_safe %>
  <% end %>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to 'Cancel', component_models_path, :class => 'btn' %>
  </div>
<% end %>

<h2>Kits Containing This Model</h2>
<% if @component_model.kits.empty? %>
  No kits for this model
<% else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Asset Tags</th>
        <th>Components</th>
        <th>Location</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @component_model.kits.each do |kit| %>
        <tr>
          <td><%= link_to(kit.asset_tags, kit_path(kit)) %></td>
          <td><%= kit.component_list %></td>
          <td><%= kit.location %></td>
          <td>
            <% if kit.circulating? %>
            <%= link_to 'Reserve', new_kit_loan_path(kit, :user_id => current_user), :class => 'btn btn-mini' %>
            <%= link_to 'Loans', kit_loans_path(kit), :class => 'btn btn-mini' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<div class="form-actions">
  <%= link_to 'Back', component_models_path, :class => 'btn'  %>
</div>
