<% title t('page_titles.index.brands') %>

<% content_for :sidebar do %>
  <li class="nav-header"><%= t(".actions") %></li>
  <li><%= auth_link([:new, Brand]) %></li>
  <li class="nav-header"><%= t(".filters") %></li>
  <li><%= auth_link(Brand) %></li>
  <li><%= auth_link(Brand, { filter: "circulating"     }) %></li>
  <li><%= auth_link(Brand, { filter: "non_circulating" }) %></li>
<% end %>

<% if params[:filter] && params[:filter] == "non_circulating" %>
<div class="alert alert-info">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <%= t('notifications.brand.caveat').html_safe %>
</div>
<% end %>

<%= paginate @brands %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('labels.brand.name') %></th>
      <th><%= t('labels.brand.component_model_count') %></th>
      <th><%= t('labels.brand.component_count') %></th>
      <th><%= t('labels.brand.actions', :default => :'labels.default.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% @brands.each do |brand| %>
      <tr>
        <td><%= link_to brand.name, brand_path(brand) %></td>
        <td><%= brand.component_models.count %></td>
        <td><%= brand.component_count %></td>
        <td class="actions">
          <%= auth_link([brand, ComponentModel]) %>
          <%= auth_link(brand) %>
          <%= auth_link([:edit, brand]) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @brands %>
