<div class="page-header">
  <h1><%= t('brand.title', default: 'Brand') %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Brand Name</dt>
  <dd><%= @brand.name %></dd>
  <dt>Model Count</dt>
  <dd><%= @brand.component_models.count %></dd>
</dl>

<div class="form-actions">
  <%= link_to 'Back', brands_path, :class => 'btn'  %>
  <%= link_to('Edit', edit_brand_path(@brand), :class => 'btn btn-edit-brand') if can? :manage, Brand %>
  <%= link_to('Delete', brand_path(@brand), :method => 'delete', :confirm => 'Are you sure? This will delete ALL models and components which belong to this brand! This operation is irreversible.', :class => 'btn btn-danger btn-delete-brand') if can? :manage, Brand %>
  <%= link_to t('link.component_models.show', default: 'Show Models'), brand_component_models_path(@brand), :class=>'btn' %>
</div>
