<% title t('page_titles.index.categories') %>

<% content_for :sidebar do %>
  <li class="nav-header"><%= t(".actions") %></li>
  <li><%= auth_link([:new, Category]) %></li>
<% end %>

<%= paginate @categories %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('labels.category.name') %></th>
      <th><%= t('labels.category.description') %></th>
      <th><%= t('labels.category.actions', :default => :'labels.default.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% categories.each do |category| %>
      <tr>
        <td><%= link_to category.name, category_path(category) %></td>
        <td><%= category.description %></td>
        <td class="actions">
          <%= auth_link([category, ComponentModel]) %>
          <%= auth_link(category) %>
          <%= auth_link([:edit, category]) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @categories %>
