<% component = ComponentDecorator.decorate(f.object.component) %>

<tr class="fields">
  <td>
    <%= component.id %>
    <%= f.input :component_id, :as => :hidden, :wrapper => :tabular %>
  </td>
  <td>
    <%= component.asset_tag %>
  </td>
  <td>
    <%= component.component_model.brand %>
  </td>
  <td>
    <%= component.component_model %>
  </td>
  <td>
    <%= f.association :inventory_status, :collection => InventoryStatus.value_symbols, :wrapper => :tabular %>
  </td>
</tr>
