<% title t('page_titles.index.inventory_records') %>

<% content_for :sidebar do %>
  <li class="nav-header"><%= t(".filters") %></li>
  <li><%= auth_link(InventoryRecord) %></li>
<% end %>

<%= paginate @inventory_records %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Type</th>
      <th>Date</th>
      <th>Attendant</th>
      <th>Kit</th>
      <th>Loan</th>
      <th><%= t('helpers.headers.actions') %></th>
    </tr>
  </thead>
  <tbody>
  <% inventory_records.each do |inventory_record| %>
    <tr>
      <td><%= inventory_record.type %></td>
      <td><%= inventory_record.created_at %></td>
      <td><%= inventory_record.attendant.to_link %></td>
      <td><%= inventory_record.kit.to_link %></td>
      <td><%= inventory_record.loan.to_link if inventory_record.loan %></td>
      <td class="actions">
        <%#= case inventory_record.object.type
        when "CheckOutInventoryRecord" then check_out_inventory_record_path(inventory_record)
        when "CheckInInventoryRecord"  then check_in_inventory_record_path(inventory_record)
        when "AuditInventoryRecord"    then audit_inventory_record_path(inventory_record)
        end %>

        <%= auth_link(inventory_record.object) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @inventory_records %>
