<% title t('inventory_record.index.title') %>

<% content_for :sidebar do %>
  <li class="nav-header"><%= t(".filters") %></li>
  <%= auth_link(InventoryRecord) %>
<% end %>

<%= paginate @inventory_records %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Type</th>
      <th>Date</th>
      <th>Attendant</th>
      <th>Kit</th>
      <th>Loan</th>
      <th><%= t('helpers.headers.actions') %></th>
    </tr>
  </thead>
  <tbody>
  <% inventory_records.each do |inventory_record| %>
    <tr>
      <td><%= inventory_record.type %></td>
      <td><%= inventory_record.created_at %></td>
      <td><%= inventory_record.attendant %></td>
      <td><%= inventory_record.kit.to_link %></td>
      <td><%= inventory_record.loan.to_link if inventory_record.loan %></td>
      <td class="actions">
        <ul>
          <%= auth_link(inventory_record) %>
        </ul>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @inventory_records %>
