<% title t('page_titles.new.inventory_record') %>
<% subtitle kit.to_s %>

<%= simple_nested_form_for(@attendant.model,
                            :url => kit_inventory_records_path(@kit),
                            :method => :post,
                            :html => { :class => 'form-horizontal' }) do |f| %>
  <div id="inventory_records_shortcuts" class="hidden">
    <p>Mark all records: <%= inventory_shortcuts %></p>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Component<br>ID</th>
        <th>Asset Tag</th>
        <th>Brand</th>
        <th>Model</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <%= f.simple_fields_for :inventory_records, @inventory_records, wrapper: false %>
    </tbody>
  </table>

  <div class="form-actions">
    <%= f.submit value: t('helpers.submit.inventory.create'), class: 'btn btn-primary' %>
    <%= link_to 'Cancel', kit_path(@kit), :class => 'btn' %>
  </div>
<% end %>
