<% title t('page_titles.show.inventory_record') %>
<% subtitle "##{inventory_record}" %>

<div class="dl-horizontal">
  <dl>
    <dt>Type</dt>
    <dd><%= inventory_record.type %></dd>
    <dt>Date</dt>
    <dd><%= inventory_record.created_at %></dd>
    <dt>Attendant</dt>
    <dd><%= inventory_record.attendant.to_link %></dd>
    <dt>Kit</dt>
    <dd><%= inventory_record.kit.to_link %></dd>
    <dt>Loan</dt>
    <dd><%= inventory_record.loan.to_link if inventory_record.loan %></dd>
  </dl>
</div>

<h2>Components</h2>
<%= render partial: 'components/component_list', object: inventory_record.kit.components %>


<%#= link_to 'Edit', edit_inventory_record_path(@inventory_record) %>
<%#= link_to 'Back', inventory_records_path %>
