<p id="notice"><%= notice %></p>

<p>
  <b>Disposition:</b>
  <%= @inventory_record.disposition %>
</p>

<p>
  <b>Component:</b>
  <%= @inventory_record.component %>
</p>

<p>
  <b>Loan:</b>
  <%= @inventory_record.loan %>
</p>

<p>
  <b>User:</b>
  <%= @inventory_record.user %>
</p>


<%= link_to 'Edit', edit_inventory_record_path(@inventory_record) %> |
<%= link_to 'Back', inventory_records_path %>
