<% title t('page_titles.index.locations') %>

<% content_for :sidebar do %>
  <li class="nav-header"><%= t(".actions") %></li>
  <li><%= auth_link([:new, Location]) %></li>
<% end %>

<%= paginate @locations %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('labels.location.name') %></th>
      <th><%= t('labels.location.business_hours') %></th>
      <th><%= t('labels.default.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% locations.each do |location| %>
      <tr>
        <td><%= location.to_link %></td>
        <td><%= location.hours %></td>
        <td class="actions">
          <%= auth_link(location) %>
          <%= auth_link([:edit, location]) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @locations %>
