<%= link_to raw(t('helpers.links.new')),
            new_location_path,
            :class => 'btn btn-primary pull-right btn-new-location' if can? :manage, Location %>

<h1>Locations</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Business Hours</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= link_to location.name, location_path(location) %></td>
        <td><%= raw(location.hours_to_s.join("<br>")) %></td>
        <td>
          <%= link_to 'Edit', edit_location_path(location), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', location_path(location), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
