<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
      Checkout
      <%= content_for?(:title) ? (t('title_separator') + strip_tags(yield(:title))) : '' %>
      <%= content_for?(:subtitle) ? (t('title_separator') + strip_tags(yield(:subtitle))) : '' %>
    </title>
    <%= include_gon %>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII=" rel="icon" type="image/x-icon" />
    <!-- <link href="images/favicon.ico" rel="shortcut icon"> -->
    <!-- <link href="images/apple-touch-icon.png" rel="apple-touch-icon"> -->
    <!-- <link href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72"> -->
    <!-- <link href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114"> -->
  </head>
  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <div class="row-fluid">
            <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <!-- Title -->
            <a class="brand" href="/">Checkout</a>

            <div class="nav-collapse collapse">
              <ul class="nav pull-right">
                <li class="divider-vertical"></li>
                <%= dropdown_for(current_user.username, "icon-user icon-white") do %>
                  <li><%= button_to "Sign out", destroy_user_session_path, :method => :delete, :form_class => 'dropdown-menu-item' %></li>
                  <li><%= link_to "Edit", edit_user_registration_path %></li>
                <% end %>
              </ul>
              <ul class="nav">
                <% # TODO: convert these all to auth_link %>
                <li><%= link_to "Account", account_path %></li>
                <li><%= link_to "Brands", brands_path(filter: "circulating") if can? :read, Brand %></li>
                <li><%= link_to "Categories", categories_path  if can? :read, Category %></li>
                <li><%= link_to "Kits", kits_path(filter: "circulating") if can? :read, Kit %></li>
                <li><%= link_to "Loans", loans_path if can? :read, Loan %></li>
                <li><%= link_to "Locations", locations_path if can? :read, Location %></li>
                <li><%= link_to "Models", circulating_component_models_path if can? :read, ComponentModel %></li>
                <%= dropdown_for("Admin") do %>
                  <li><%= link_to "Application Settings", settings_path if current_user.admin? %></li>
                  <li><%= link_to "Budgets", budgets_path if can? :read, Budget %></li>
                  <li><%= link_to "Covenants", covenants_path  if can? :read, Covenant %></li>
                  <li><%= link_to "Dashboard", dashboard_path  if can? :read, Covenant %></li>
                  <li><%= link_to "Groups", active_groups_path if can? :read, Group %></li>
                  <li><%= link_to "Inventory", inventory_records_path if can? :read, InventoryRecord %></li>
                  <li><%= link_to("Users", active_users_path) if can? :read, User %></li>
                <% end %>
              </ul>
            </div>
          </div>
          <div class="row-fluid">
            <form id="omnibox" class="navbar-search" action="">
              <input id="q" name="q" placeholder="Search for asset tags, kit numbers, users, models" type="text" autocomplete="off"></input>
              <!-- <input id="k" name="k" placeholder="Asset tag jump" type="text" autocomplete="off"></input> -->
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">

      <!-- <header class="jumbotron subhead" id="overview"> -->
      <!--   <h1>Scaffolding</h1> -->
      <!--   <p class="lead">Bootstrap is built on a responsive 12-column grid. We've also included fixed- and fluid-width layouts based on that system.</p> -->
      <!--   <div class="subnav"> -->
      <!--     <ul class="nav nav-pills"> -->
      <!--       <li class="active"><a href="#global">Global styles</a></li> -->
      <!--       <li class=""><a href="#gridSystem">Grid system</a></li> -->
      <!--       <li class=""><a href="#fluidGridSystem">Fluid grid system</a></li> -->
      <!--       <li class=""><a href="#gridCustomization">Customizing</a></li> -->
      <!--       <li class=""><a href="#layouts">Layouts</a></li> -->
      <!--       <li class=""><a href="#responsive">Responsive design</a></li> -->
      <!--     </ul> -->
      <!--   </div> -->
      <!-- </header> -->

      <%= bootstrap_flash %>

      <div class="row-fluid">
        <%= content_for?(:main) ? yield(:main) : yield %>
      </div><!--/row-->

      <footer>
      </footer>

    </div> <!-- /container -->

    <div id="shortcuts_modal" class="modal hide">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Keyboard Shortcuts</h3>
      </div>
      <div class="modal-body">
        <table class="table">
          <tr>
            <th>Key</th>
            <th>Description</th>
          </tr>
          <tr>
            <td>/</td><td>Jump to the Search omnibox</td>
          </tr>
        </table>
      </div>
    </div>

    <%= javascript_include_tag "application" %>

  </body>
</html>
